<p class="input-group">
    <input type="text"
           class="form-control"
           placeholder="{{vmController.placehold}}"
           uib-datepicker-popup="{{vmController.format}}" 
           ng-model="vmController.datepickerdata" 
           is-open="vmController.popup.opened" 
           datepicker-options="vmController.dateOptions"
           ng-required="true"
           close-text="Close"/>
    <span class="input-group-btn">
        <button type="button" class="btn btn-info" ng-click="vmController.openDatepicker()"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
</p>