<h2>
    {{vmController.tabledata.header}}
</h2>
<table  class="table table-hover ">
    <thead>
        <tr>
            <th class="col-lg-5">Item</th>
            <th class="col-lg-5">Amount</th>
            <th class="col-lg-2">Remove/add</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="income in vmController.tabledata.items track by $index">
            <td style="width: 120px;" ng-init="editModeItem = false" ng-click="vmController.inputFocus($event);editModeItem = true;">
                <span ng-show="!editModeItem" ng-click="vmController.inputFocus($event);editModeItem = true;">
                    {{income.item}}
                </span>
                <input class="form-control" type="text" ng-blur="editModeItem = false" ng-show="editModeItem" ng-model="income.item" ng-value="income.item?income.item:' '">
            </td>
            <td  style="width: 120px;" ng-click="vmController.inputFocus($event);editModeAmount = true;">
                <span ng-show="!editModeAmount" ng-click="vmController.inputFocus($event);editModeAmount = true;">
                    {{income.amount?income.amount:0}}
                </span>
                <input class="form-control" type="number" ng-blur="editModeAmount = false" ng-show="editModeAmount" ng-model="income.amount" ng-change="vmController.calculateExpensesEventTrigger()">

            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger" ng-click="vmController.RemoveItem($index, vmController.tabledata.items);vmController.calculateExpensesEventTrigger()">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                    <button type="button" class="btn btn-success" ng-if="$first" ng-click="vmController.AddItem(vmController.tabledata.items)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>